.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: gray;
}

.menu-item {
    text-align: center;
}

.menu-item img {
    width: 100px;
    height: 100px;
}

.student img {
    width: 200px;
    height: 200px;

}

.students {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.student {
    text-align: center;
}